In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("postalcodes.csv")

In [27]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [28]:
df = df.drop(df[df.Borough == "Not assigned"].index)

In [29]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [30]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [31]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [32]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [33]:
df1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Port Union,Highland Creek,Rouge Hill
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [34]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

In [35]:
df1.shape

(103, 2)