In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("postalcodes.csv")

In [13]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [14]:
df = df.drop(df[df.Borough == "Not assigned"].index)

In [15]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [16]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [17]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [18]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [19]:
df1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Guildwood,West Hill,Morningside
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [20]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

In [47]:
df1.shape

(103, 2)

In [48]:
#get new dataset
geospatial = pd.read_csv("Geospatial_Coordinates.csv")
geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [49]:
# change name of Postal code column to Postcode
geospatial.columns = ['Postcode', 'Latitude', 'Longitude']
geospatial.head()
# pd.merge(df1, df2, on="movie_title")

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [50]:
# Merge both dataframes
newdf = pd.merge(df1, geospatial, on="Postcode")
newdf.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,West Hill,Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476